<launch>
    	<arg name="schedule_directory" default="/home/strands/spatiotemporal_exploration/schedules"/>
	<arg name="grids_directory" default="/home/strands/spatiotemporal_exploration/3dmaps"/>
	<arg name="sweep_type" default="complete"/>
	<arg name="exploration_tag" default="Exploration"/>
	<arg name="bidder_timer" default="3600"/>

	<node name="exploration" pkg="spatiotemporal_exploration" type="spatiotemporal_exploration" output="screen">
		<param name="exploration_tag" value="$(arg exploration_tag)"/> 
		<param name="sweep_type" value="$(arg sweep_type)"/>
		<param name="collection_name" value="FremenGrid"/>
		<param name="schedule_directory" value="$(arg schedule_directory)"/>
		<param name="verbose" value="false"/>
		<param name="resolution" value="0.1"/>
		<param name="dimX" value="100"/>
		<param name="dimY" value="100"/>
		<param name="dimZ" value="50"/>
		<param name="grids_directory" value="$(arg grids_directory)"/>
	</node>

	<node name="spatiotemporal_bidder" pkg="spatiotemporal_exploration" type="spatiotemporal_bidder.py" output="screen">
		<param name="bidder_timer" value="$(arg bidder_timer)"/>
	</node>

</launch>
