<launch>
    <arg name="soma_config"/>
    <arg name="activity_srv" default="/activity_counter/activity_best_time_estimate"/>
    <arg name="scene_srv" default="/scene_counter/scene_best_time_estimate"/>
    <arg name="people_srv" default="/people_counter/people_best_time_estimate"/>
    <arg name="schedule_directory" default="/home/strands/spatiotemporal_exploration/schedules"/>
    <arg name="grids_directory" default="/home/strands/spatiotemporal_exploration/3dmaps"/>


    <arg name="machine" default="localhost" />
    <arg name="user" default="" />
    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

    <node pkg="edge_exploration" type="edge_bidder.py" name="edge_exploration_bidder" output="screen">
    </node>

    <include file="$(find spatiotemporal_exploration)/launch/spatiotemporal_exploration.launch">
        <arg name="schedule_directory" value="$(arg schedule_directory)"/>
        <arg name="grids_directory" value="$(arg grids_directory)"/>
    </include>
    
    <include file="$(find activity_exploration)/launch/activity_exploration.launch">
        <arg name="soma_config" value="$(arg soma_config)"/>
        <arg name="activity_srv" value="$(arg activity_srv)"/>
        <arg name="people_srv" value="$(arg people_srv)"/>
        <arg name="scene_srv" value="$(arg scene_srv)"/>
    </include>
    
</launch>
