<launch>
        <arg name="schedule_directory" default="/home/strands/topological_exploration/schedules"/>
        <arg name="grids_directory" default="/home/strands/topological_exploration/3dmaps"/>
        
	<node name="exploration" pkg="topological_exploration" type="topological_exploration">
		<param name="sweep_type" value="complete"/>
		<param name="collection_name" value="FremenGrid"/>
		<param name="schedule_directory" value="$(arg schedule_directory)"/>
		<param name="verbose" value="false"/>
		<param name="resolution" value="0.1"/>
		<param name="dimX" value="100"/>
		<param name="dimY" value="100"/>
		<param name="dimZ" value="50"/>
		<param name="grids_directory" value="$(arg grids_directory)"/>
	</node>
</launch>
